.footer {
  width: 100%;
  height: 5%;
  background: linear-gradient(to bottom, #caa472 40%, #8b5e3c 60%);
  box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  overflow: hidden;
  z-index: 1; /* El footer NO está por encima de todo */
}

.walker {
  position: absolute;
  bottom: 0;
  width: 60px;
  z-index: 1000; /* Este sí */
  transition: left 0.08s linear;
}

.walker img {
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
  display: block;
}
