.footer {
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, #ffffff00 60%, #58430f 10%, #ba9539 30%);
  /* box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.1); */
  position: absolute;
  bottom: 0;
  overflow: visible;
  z-index: 1; /* El footer NO está por encima de todo */

}

.walker {
  position: absolute;
  bottom: 0;
  width: 60px;
  z-index: 1000; /* Este sí */
  transition: left 0.08s linear;
}

.walker img {
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
  display: block;
  
}
